<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link th:href="@{/css/login.css}" rel="stylesheet" />-->
<!--</head>-->
<!--<body>-->
<!--<div class="myDiv">-->

<!--                <form th:action="@{/login}" method="post">-->
<!--                    <br>-->
<!--                    <div th:if="${param.error}" class="alert alert-danger">-->
<!--                        Invalid username and password.</div>-->

<!--                    <div th:if="${param.logout}" class="alert alert-success" required minlength="2" maxlength="20">You have been logged out.</div>-->
<!--                        <br>-->
<!--                        Login: <input type="text"  id="email" name="email" placeholder="email" required minlength="2" maxlength="20"><br>-->
<!--                        Password: <input type="password"  id="password" name="password" placeholder="Password" required minlength="2" maxlength="20"><br>-->
<!--                    <button type="submit" >Log in</button>-->

<!--                    <button>  <a th:href="@{/signup}">Register now!</a></button>-->

<!--                </form>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Log in</title>
</head>
<body>
<div class="container">
    <div style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Please Login</div>
            <div class="card-block" style="padding: 24px;">
                <form th:action="@{/login}" method="post">
                    <fieldset>


                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username or password.</div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.</div>

                        <div class="form-group">
                            <label for="email">Email</label> <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label> <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>

                        <div class="form-actions" style="margin-top: 12px;"><button type="submit" class="btn btn-success">Log in</button></div>
                    </fieldset>
                </form>
                <button class="btn-block" style="width: 75px; margin-bottom: 20px"><a th:href="@{/signup}">sign up</a></button>
            </div>

        </div>
    </div>
</div>

</body>
</html>





